.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vh;
}

.carritoGeneral {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
}

.carritoProducto {
    display: flex;
    align-items: center;
    gap: 2vh;
    padding: 1em;
    border-bottom: 1ox solid #ddd;
}

.carritoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5em;
}

.carritoVacio {
    font-size: 2em;
    margin: auto;
    padding: 10vh;
    text-align: center;
    color: #888;
}

.btn {
    display: flex;
    padding: .5em .5em;
    border-radius: .5em;
    color: white;
    background-color: #500550f6;
    border: 1px solid transparent;
    justify-content: center;
    /* Alineación horizontal */
    align-items: center;
    /* Alineación vertical */
    font-size: 1.1em;
    max-width: 50%;
    margin: auto;
    margin-bottom: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #500550f6;
    font-weight: 700;
    border: 1.5px solid black;
}

.VaciarCarrito {
    width: 25vh;
    margin-top: 1em;
}