.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    /* max-width: 20%; */
    border: solid 1px #ddd;
    border-radius: 1em;
    padding: .75em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.img-card {
    flex: 1;
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
}

.imgProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 1em;
    border-radius: 1em;
    overflow: hidden;
    object-fit: contain;
}

.tituloProducto,
.descripcionProducto,
.precioProductos,
.cantidadProductos,
.contador,
.btnCount,
.detalles-container {
    text-align: center;
    margin: 0.5em auto;
}

.img-card img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-color: none;
    object-fit: contain;
    max-height: 50vh;
}

.tituloProducto {
    font-size: 1.2em;
    text-align: center;
    margin: 0.5em 0;
    font-weight: bold;
}

.descripcionProducto {
    text-align: center;
    font-size: 1em;
    max-width: 75%;
    margin: auto;
}

.precioProductos {
    text-align: center;
    padding: .5em;
    font-size: 1.5em;
    font-weight: 600;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75em;
    margin: auto;
    margin-bottom: .5em;
    font-size: 1em;
    max-width: 50%;
}

.btnCount {
    font-size: 1em;
    padding: .35em;
    border-radius: .5em;
    border: 1px solid black;
}

.btnCount:hover {
    background-color: black;
    color: white;
}

.cantidadProductos{
    font-size: 1.75em;
    padding: .2em;
    font-size: 600;
}

.btnAgregarCount {
    padding: .5em .5em;
    border-radius: .5em;
    color: white;
    background-color: #500550f6;
    border: 1px solid;
    font-size: .9em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btnAgregarCount:hover {
    background-color: white;
    color: #500550f6;
    border: 1px solid black;
}

.detalles-container {
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
    width: 75%;
}

.detalles {
    color: white;
    background-color: #500550f6;
    border-radius: .5em;
    border: 1px solid black;
    cursor: pointer;
    padding: .25em .25em;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    width: 75%;
    transition: background-color 0.3s, color 0.3s;
}

.detalles:hover {
    background-color: #720172af;
    color: white;
    font-weight: bolder;
}

.card p {
    font-size: 1em;
    padding: .5em;
}

.saludo {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.cargando {
    padding: 5px;
    font-size: 1.5em;
    text-align: center
}

/* Contenedor de la lista */
.listaGeneral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: .25em;
}


/* Responsive cards */

/* Escritorio - 4 columnas */
@media (min-width: 1025px) {
    .card {
        flex: 1 1 calc(25% - 2em);
    }
    
    .tituloProducto {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 2em;
        padding: 0;
        text-wrap: nowrap;
        max-width: 100%;
    }

    .detalles-container {
        margin: auto;
        padding: none;
        font-size: 1em;
        width: 75%;

    }

    .detalles {
        padding: .25em .25em;
        font-size: .75em;
        width: 100%;
    }

    .detalles:hover {
        background-color: #720172af;
        color: white;
        font-weight: bolder;
    }
    
    .imgProducto {
        display: flex;
        width: 100%;
        max-height: 50vh;
        margin: auto;
        margin-bottom: .5em;
    }

    .descripcionProducto {
        text-align: center;
        font-size: 1em;
        max-width: 75%;
        margin: auto;
        margin-bottom: 1em;
    }

    .precioProductos {
        font-size: 2.5em;
        padding: 0;
        margin: auto;
    }
    .cantidadProductos{
        font-size: 1.75em;
        padding: .2em;
        font-size: 600;
        margin: 0;
    }

    .contador {
        gap: .01em;
        margin: auto;
        margin-bottom: .5em;
        font-size: 1em;
        max-width: 40%;
    }

    .btnCount {
        padding: .4em;
        border-radius: .5em;
        margin: auto;
        margin-inline: .75em;

    }

    .btnAgregarCount {
        padding: .8em 1em;
    }

    .btn.seguir {
        width: 25%;
    }

    .card p {
        font-size: 1em;
        padding: .5em;
    }

    .saludo {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 1em;
    }


}

/* Tablet - 3 columnas */
@media (max-width: 1024px) {

        .card {
        flex: 1 1 calc(33.33% - 2em);
    }


    .tituloProducto {
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 2em;
        padding: 0;
        text-wrap: nowrap;
        max-width: 100%;
    }

    .detalles-container {
        margin: auto;
        padding: none;
        font-size: 1em;
        width: 75%;

    }

    .detalles {
        padding: .25em .25em;
        font-size: .75em;
        width: 100%;
    }

    .detalles:hover {
        background-color: #720172af;
        color: white;
        font-weight: bolder;
    }
    
    .imgProducto {
        display: flex;
        width: 100%;
        max-height: 50vh;
        margin: auto;
        margin-bottom: .5em;
    }

    .descripcionProducto {
        text-align: center;
        font-size: 1em;
        max-width: 75%;
        margin: auto;
        margin-bottom: 1em;
    }

    .precioProductos {
        font-size: 2.5em;
        padding: 0;
        margin: auto;
    }
    .cantidadProductos{
        font-size: 1.75em;
        padding: .2em;
        font-size: 600;
        margin: 0;
    }

    .contador {
        gap: .01em;
        margin: auto;
        margin-bottom: .5em;
        font-size: 1em;
        max-width: 40%;
    }

    .btnCount {
        padding: .4em;
        border-radius: .5em;
        margin: auto;
        margin-inline: .75em;

    }

    .btnAgregarCount {
        padding: .8em 1em;
    }

    .btn.seguir {
        width: 40%;
    }



    .card p {
        font-size: 1em;
        padding: .5em;
    }

    .saludo {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

}

/*                       Móviles grandes - 2 columnas */
@media (max-width: 768px) {
    .listaGeneral {
        gap: .5em;
        padding: .1em;
    }

    .card {
        flex: 1 1 calc(50% - 2em);
    }

    .img-card img {
        border-radius: .5em;
        object-fit: contain;
    }

    .tituloProducto {
        margin: 0;
        font-size: 1.5em;
        padding: 0;
    }

    .imgProducto {
        max-height: 50vh;
        margin: auto;
        margin-bottom: .25em;
        object-fit: contain;
    }

    .descripcionProducto {
        text-align: center;
        font-size: 1em;
        max-width: 75%;
        margin: auto;
    }

    .precioProductos {
        padding: 0;
        font-size: 2em;
        margin: auto;
    }
    .cantidadProductos{
        font-size: 1.5em;
    }

    .contador {
        gap: .01em;
        margin: auto;
        margin-bottom: .5em;
        font-size: 1em;
        max-width: 40%;
    }

    .btnCount {
        padding: .4em;
        border-radius: .5em;
        margin: auto;
        margin-inline: .75em;

    }

    .btnAgregarCount {
        padding: .5em .5em;
    }

    .btn.seguir {
        width: 40%;
    }

    .detalles-container {
        margin: auto;
        padding: none;
        font-size: 1em;
        width: 75%;
    }

    .detalles {
        padding: .25em .25em;
        font-size: .75em;
        width: 100%;
    }

    .detalles:hover {
        background-color: #720172af;
        color: white;
        font-weight: bolder;
    }

    .card p {
        font-size: 1em;
        padding: .5em;
    }

    .saludo {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }

}









/* Móviles pequeños - 1 columna */
@media (max-width: 420px) {
    .card {
        flex: 1 1 100%;
    }
}