.navBar {
    background-color: #4b0e62;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 30vh;
    font-size: 1em;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 8em;
}

.categories {
    display: flex;
    gap: 1rem;
    font-size: 1em;
    flex-wrap: wrap;
}

.category {
    text-transform: uppercase;
    color: white;
    padding: 0.5em .5em;
    border-radius: .5em;
    border-radius: 0.5em;
    background-color: #6c0d84;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #8c10aa;
        transform: scale(1.05);
    }
}

.cartwidget {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: 1em;
}

.cartwidget p {
    font-size: 1.5em;
    margin: 0;
}

.img-category {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.iconViolet {
    color: #ff08ff7e;
}

.iconWhite {
    color: white;
}



@media (max-width: 768px) {
    .navBar {
        padding: .5em;
        text-align: center;
    }

    .logo {
        width: 5em;
    }

    .categories {
        justify-content: center;
        gap: 0.75rem;
    }

    .category {
        font-size: .75em;
        padding: 0.25em;
    }

    .cartwidget {
        margin-right: 0;
        justify-content: center;
        margin-top: .25rem;
    }
}

@media (max-width: 480px) {
    .navBar {
        padding: .5rem;
    }

    .categories {

        gap: 0.5rem;
        align-items: center;
    }

    .category {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .cartwidget p {
        font-size: 1.2em;
    }
}