.navBar {
    background-color: #5a035a8c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: .5rem;
    border: 1px solid black;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.secciones {
    text-decoration: none;
    font-size: 2rem;
}

.items {
    text-transform: uppercase;
}
category {
    background-color: red;
}

.img-category {
    justify-content: space-between;
    align-items: center;
}